.profile-pic img {
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Makes the image round */
}

.friends-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    table-layout: fixed;
    /* Fix the table layout */
}

.friends-table th,
.friends-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friends-table th {
    background-color: #f9f9f9;
}

.friends-table tr:hover {
    background-color: #f1f1f1;
}

.friends-table colgroup col.title {
    width: 28%;
    /* Adjust this percentage as needed */
}

.friends-table colgroup col.author {
    width: 25%;
}

.friends-table colgroup col.pages {
    width: 15%;
}

.friends-table colgroup col.rating {
    width: 12%;
}

.friends-table colgroup col.change-rating {
    width: 20%;
    /* Adjust this percentage as needed */
}